<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hackathonproject">

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />


                <data
                    android:host="java-lang-programming"
                    android:scheme="android-app-google-plus-demo" />
            </intent-filter>
        </activity>
        <activity android:name=".Lab03"/>
        <activity android:name=".Lab02"/>
        <activity android:name=".Lab01"/>
        <activity android:name=".Casefour"/>
        <activity android:name=".Casethree"/>
        <activity android:name=".Casetwo"/>
        <activity android:name=".Opdrem"/>

        <activity
            android:name=".Labreport"
            android:parentActivityName=".Hackathonnav" />
        <activity android:name=".Caseone" />

        <activity
            android:name=".Healthhistory"
            android:parentActivityName=".Hackathonnav" />
        <activity android:name=".Forgotpwd" />

        <activity
            android:name=".Hackathonnav"
            android:label="@string/title_activity_hackathonnav"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Regsuccess" />
        <activity android:name=".Signup" />
        <activity android:name=".Login" />

        <activity
            android:name=".Medicine"
            android:parentActivityName=".Hackathonnav"/>

    </application>

</manifest>
